<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../src/public/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
     <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                     <li>
                        <button id="cartButton">🛒</button>
                     </li>
                 </ul>
            </div>
            <div class="container">
    <h1 class="color1">Carrito</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <ul class="color1">
          {{#each products}}
            <li>
              {{this.product.title}}
              - ${{this.product.price}}
              - Cantidad:
              {{this.quantity}}
              <button class="btn-delete-cart" onclick="eliminarProductoDelCarrito('{{this.product._id}}')">Eliminar</button>
            </li>
          {{/each}}
        </ul>
       
        <div class="color1"> 
          <button id="payment" class="botons">Pagar</button>
        
        </div>
      </table>
    </div>
  </div>
</div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", ()=>{
    const paymentButton = document.getElementById("payment");
    if(paymentButton){
      paymentButton.addEventListener("click", async ()=>{
        const cartId = await obtenerIdCarrito();
        if(!cartId){
          console.error("ID incorrecto");
          return
        }
        const response = await fetch("/payment/create-checkout-session", {
          method: "POST",
          headers: { "Content-Type":"application/json" },
          body: JSON.stringify({cartId:cartId})
        });
        const data = await response.json();
        if(response.ok){
          window.location.href=data.url;
        } else {
          console.error("Error al iniciar la sesion de pago.");
        }
      });
    }
   });
</script>
</body>
<script src="../src/public/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>